openapi: 3.1.0
info:
  title: Google Cloud Deploy DeliveryPipelines Releases API
  description: The Cloud Deploy API provides programmatic access to manage delivery pipelines, targets, releases, and rollouts for continuous delivery workflows on Google Cloud. It supports promoting releases through target environments with approval gates and rollback capabilities.
  version: v1
  contact:
    name: Google Cloud Support
    url: https://cloud.google.com/deploy/docs/support
  termsOfService: https://cloud.google.com/terms
servers:
- url: https://clouddeploy.googleapis.com/v1
  description: Production Server
security:
- oauth2: []
tags:
- name: Releases
  description: Operations for managing releases
paths:
  /projects/{projectId}/locations/{location}/deliveryPipelines/{pipelineId}/releases:
    get:
      operationId: listReleases
      summary: Google Cloud Deploy List releases
      description: Lists releases in a given delivery pipeline.
      tags:
      - Releases
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/location'
      - $ref: '#/components/parameters/pipelineId'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListReleasesResponse'
    post:
      operationId: createRelease
      summary: Google Cloud Deploy Create a release
      description: Creates a new release in a given delivery pipeline.
      tags:
      - Releases
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/location'
      - $ref: '#/components/parameters/pipelineId'
      - name: releaseId
        in: query
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Release'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
components:
  schemas:
    Release:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        annotations:
          type: object
          additionalProperties:
            type: string
        labels:
          type: object
          additionalProperties:
            type: string
        skaffoldConfigUri:
          type: string
          description: Cloud Storage URI of the Skaffold config
        skaffoldConfigPath:
          type: string
          description: Path of the Skaffold config inside the config URI
        buildArtifacts:
          type: array
          items:
            type: object
            properties:
              image:
                type: string
              tag:
                type: string
        renderState:
          type: string
          enum:
          - SUCCEEDED
          - FAILED
          - IN_PROGRESS
        createTime:
          type: string
          format: date-time
    ListReleasesResponse:
      type: object
      properties:
        releases:
          type: array
          items:
            $ref: '#/components/schemas/Release'
        nextPageToken:
          type: string
    Operation:
      type: object
      properties:
        name:
          type: string
        done:
          type: boolean
  parameters:
    location:
      name: location
      in: path
      required: true
      schema:
        type: string
    pipelineId:
      name: pipelineId
      in: path
      required: true
      schema:
        type: string
    pageToken:
      name: pageToken
      in: query
      schema:
        type: string
    pageSize:
      name: pageSize
      in: query
      schema:
        type: integer
    projectId:
      name: projectId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud
externalDocs:
  description: Cloud Deploy API Documentation
  url: https://cloud.google.com/deploy/docs/api/reference/rest
